*{
    margin: 0;
    padding: 0;
}

#map {
	width:100%;
    height:400px;	
}
 
.leaflet-container .leaflet-control-search {
	position:relative;
	float:left;
	background:#fff;
	color:#1978cf;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.8);
	z-index:1000;	
	margin-left: 10px;
	margin-top: 10px;
}
.leaflet-control-search.search-exp {/*expanded*/
	background: #fff;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;	
}
.leaflet-control-search .search-input {
	display:block;
	float:left;
	background: #fff;
	border:1px solid #666;
	border-radius:2px;
	height:22px;
	padding:0 20px 0 2px;
	margin:4px 0 4px 4px;
}
.leaflet-control-search.search-load .search-input {
	background: url('../images/loader.gif') no-repeat center right #fff;
}
.leaflet-control-search.search-load .search-cancel {
	visibility:hidden;
}
.leaflet-control-search .search-cancel {
	display:block;
	width:22px;
	height:22px;
	position:absolute;
	right:28px;
	margin:6px 0;
	background: url('../images/search-icon.png') no-repeat 0 -46px;
	text-decoration:none;
	filter: alpha(opacity=80);
	opacity: 0.8;		
}
.leaflet-control-search .search-cancel:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.leaflet-control-search .search-cancel span {
	display:none;
	font-size:18px;
	line-height:20px;
	color:#ccc;
	font-weight:bold;
}
.leaflet-control-search .search-cancel:hover span {
	color:#aaa;
}
.leaflet-control-search .search-button {
	display:block;
	float:left;
	width:30px;
	height:30px;	
	background: url('../images/search-icon.png') no-repeat 4px 4px #fff;
	border-radius:4px;
}
.leaflet-control-search .search-button:hover {
	background: url('../images/search-icon.png') no-repeat 4px -20px #fafafa;
}
.leaflet-control-search .search-tooltip {
	position:absolute;
	top:100%;
	left:0;
	float:left;
	list-style: none;
	padding-left: 0;
	min-width:520px;
	max-height:122px;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	background-color: rgba(0, 0, 0, 0.25);
	z-index:1010;
	overflow-y:auto;
	overflow-x:hidden;
	cursor: pointer;
}
.leaflet-control-search .search-tip {
	margin:2px;
	padding:2px 4px;
	display:block;
	color:black;
	background: #eee;
	border-radius:.25em;
	text-decoration:none;	
	white-space:nowrap;
}
.leaflet-control-search .search-button:hover {
	background-color: #f4f4f4;
}
.leaflet-control-search .search-tip-select,
.leaflet-control-search .search-tip:hover {
	background-color: #fff;
}
.leaflet-control-search .search-alert {
	cursor:pointer;
	clear:both;
	font-size:.75em;
	margin-bottom:5px;
	padding:0 .25em;
	color:#e00;
	font-weight:bold;
	border-radius:.25em;
}
.toggle{
    display:none;
}
.out{
    display:none;
}
.modifica{
    display: none;
}
#hamburger-active {
    display:none;
}
.grafic-de-plati{
    display:none;
}
.later{
    display:none;
}
.navbar{
 height: 75px;
 justify-content: space-between;
}
.Credit-rapid img{
    padding-left: 45px;
    padding-top: 7px;
    width: 112px;
    height: 45px;
}
.links{
    color: #0075bd;
}
.links ul{
margin-top: -28px;
display: flex;
padding-left: 32%;
}
.links ul li{
    display: inline-block; 
    padding-right: 48px;
    font-family: sans-serif;
    cursor: pointer;
}
.phone-nav img{
    height: 24px;
    width:24px;
    padding-left: 62%;
}
.phone-nav {
    margin-top: -28px;
}
.mod p span{
    color:white;
}
.phone-nav a{
    text-decoration: none;
    color:black;
    font-size: 28px;
    display: flex;
    padding-left: 65%;
    margin-top: -28px;
}
.language-nav img{
    height: 24px;
    width: 24px;
    margin-left: 80%;
}
.language-nav {
    margin-top: -28px;
}
.user-nav{
margin-right: 21px;
margin-top: -21px;
margin-left: 85%;
}
.user-nav img{
    width: 24px;
    height: 24px;
    display: flex;
    margin-left: 141px;
    margin-top: -28px;
}
.user-nav a{
    text-decoration: none;
    margin-right: 5px;
    font-family: sans-serif;
    color: #0075bd;
    display: flex;
}
.message-bar{
    background-color: #0075bd;
    height:75px;
}
.intoduce{
background-color: dodgerblue;
border-radius: 50%;
padding:  11px;
 width:25px;
 text-align: center;
 margin-left: 45px;
 color:  #0075bd;
 margin-top: -60px;
}
#paragraph{
    color:white;
    padding-left: 105px;
    margin-top: -30px;
}
#demo{
    color: white;
    margin-left: 86%;
    margin-top: -16px;
}
.message-icon img{
width: 24px;
height:24px;
margin-left: 94%;
}
.message-icon {
    margin-top: -22px;
}
.map-icon img{
    width: 24px;
height:24px;
margin-left: 97%;
}
.map-icon{
    margin-top: -29px;
}
.messages{
    margin-top: 24px;
    margin-bottom: -23px;
    height: 85px;
    background-color: #ddd;
    cursor: pointer;
}
.cars{
    padding-top: 35px;
    color: #0075bd;
    font-size: 21px;
    margin-left: -35px;
}
.messages2{
    margin-top: 24px;
    height: 85px;
    background-color: #ddd;
    cursor: pointer;
}
.cars2{
    padding-top: 35px;
    color: #0075bd;
    font-size: 21px;
}
.messages3{
    margin-top: 1px;
    height: 85px;
    background-color: #ddd;
    cursor: pointer;
}
.cars3{
    padding-top: 35px;
    color: #0075bd;
    font-size: 21px;
}
.cars3 img{
    margin-top:-225px; 
}
.cars4 p{
padding-left: -45px;
}
.messages4{
    margin-top: 1px;
    height: 85px;
    background-color: #ddd;
    cursor: pointer;
}
.cars4{
    padding-top: 35px;
    color: #0075bd;
    font-size: 21px;
}
.rotate1{
    transform: rotate(180deg);
          color: red;
          font-size: 32px;
          float: left;
          font-family: monospace;
          margin-left: 45px;
          margin-top: 20px;
}
.rotate2{
    transform: rotate(180deg);
          color: red;
          font-size: 32px;
          float: left;
          font-family: monospace;
          margin-left: 45px;
          margin-top: 20px;
}
.rotate3{
    transform: rotate(180deg);
          color: red;
          font-size: 32px;
          float: left;
          font-family: monospace;
          margin-left: 45px;
          margin-top: 20px;
}
.rotate4{
    transform: rotate(180deg);
          color: red;
          font-size: 32px;
          float: left;
          font-family: monospace;
          margin-left: 45px;
          margin-top: 20px;
}
.delay-notification img{
    float: right;
    margin-right: 8%;
}
.delay-notification{
    margin-top: -32px;
}
.mesages-second{
    background-color: orange;
    margin-left: 45px;
    height: 55px;
    margin-bottom: -23px;
    width:93%;
    display:none;
}
.mesages-second2{
    background-color: orange;
    margin-left: 45px;
    height: 55px;
    width:93%;
    display:none;
}
.mesages-second3{
    background-color: orange;
    margin-left: 45px;
    height: 55px;
    width:93%;
    display:none;
}
.mesages-second4{
    background-color: red;
    margin-left: 45px;
    height: 55px;
    width:93%;
    display:none;
}
.mesages-second5{
    background-color: orange;
    margin-left: 45px;
    height: 55px;
    width:93%;
    display:none;
}
.mesages-second6{
    background-color: red;
    margin-left: 45px;
    height: 55px;
    width:93%;
    display:none;
}
.message img{
    margin-top: 15px;
    margin-left: 8px;
    width: 24px;
    height: 24px;;
}
.message3 img{
    margin-top: -6px;
    margin-left: 8px;
    width: 24px;
    height: 24px;;
}
.message p{
    color:white;
    margin-top: -42px;
    padding-left: 87px;
}
.feed-shape img{
    margin-top: -18px;
    padding-left: 65px;
}
.feed-shape p{
    padding-left: 87px;
    margin-top: -32px;
    color: white;
}
.feed-close img{
    float:right;
    margin-right: 12px;
    margin-top: -39px;
    cursor: pointer;
}
.feed-close2 img{
    float:right;
    margin-right: 12px;
    margin-top: -39px;
    cursor: pointer;
}
.feed-close3 img{
    float:right;
    margin-right: 12px;
    margin-top: -39px;
    cursor: pointer;
}
.feed-close4 img{
    float:right;
    margin-right: 12px;
    margin-top: -39px;
    cursor: pointer;
}
.feed-close5 img{
    float:right;
    margin-right: 12px;
    margin-top: -39px;
    cursor: pointer;
}
.feed-close6 img{
    float:right;
    margin-right: 12px;
    margin-top: -39px;
    cursor: pointer;
}
.achiatare{
    margin-left: 45px;
    width:50%;
}
.achiatare ul{
  list-style-type: none;
  padding-top: 31px;
  font-family: sans-serif;
}
.achiatare ul li{
padding-top: 15px;

}
#achitaTime{
    margin-left: 155px;
    margin-top: -25px;
    padding-left: 28px;
    width:45px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    background-color: orange;
    border-radius: 5px;
    font-size: 15px;
}
.achiatare p{
    margin-left: 165px;
    margin-top: -18px;
    color:white;
    font-size: 15px;
}
.achiatare h5{
    margin-left: 195px;
    margin-top: -25px;
    font-size: 15px;
    color:white;
}
.suma{
margin-top: -131px;
margin-right: 5px;
float:right;
}
#suma2, #suma3, #suma4{
    margin-left:-85%;
}
.suma ul h5{
margin-left: 23%;
margin-top: -15px;
color:black;
}
.rata-lunara{
    margin-left: 45px;
    border-radius: 5px;
    border: 3px solid;
    border-color: #0075bd;
    width:50%;
    height: 85px;
    margin-top: 22px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.rata-lunara ul li h3{
    color: white;
    margin-top: -18px;
    font-size: 15px;
    margin-left: 181px;
}
.rata-lunara ul li h2{
    color: white;
    margin-top: -18px;
    font-size: 15px;
    margin-left: 181px;
}
#econom{
margin-left: 180px;
}
#econom2{
    margin-left: 180px;
    }
#rata-lunara{
    padding-left: 153px;
    margin-top: -18px;
}
.rata-lunara ul{
    padding-left: 15px;
    padding-right: 15px;
    list-style-type: none;
}
.rata-lunara ul li{
    font-family: sans-serif;
}
.rata-lunara ul li h6{
    color:white;
}
.rata-lunara ul li h5{
    color: white;
    margin-left: 30%;
    font-size: 13px;
    background-color: #0075bd;
    border-radius: 3px;
    height:16px;
    width:81px;
    padding-left: 110px;
}
.rata-lunara ul li h6{
    color: white;
    margin-left: 30%;
    font-size: 13px;
    padding-bottom: 1px;
    background-color: #0075bd;
    border-radius: 3px;
    height:16px;
    width:51px;
    padding-left: 110px;
}
.schimb{
    float:right;
    margin-top: -75px;
}
#schimb{
    font-family: sans-serif;
    margin-left: 155px;
    margin-top: 4px;
}
#schimb2{
    padding-right: 65px;
} 
.schimb p{
    font-size: 15px;
    margin-left: 20%;
    margin-top: -19px;
}
.schimb h5{
    font-size: 14px;
    margin-top:-17px;
    margin-left: 45%;
}
.icon-rotation2 img{
    padding-left: 75px;
    width: 18px;
    cursor: pointer;
}
.icon-rotation img{
    margin-left: 75px;
    width: 18px;
transform: rotate(180deg);
cursor: pointer;
}
.icon-rotation2{
    margin-top: -29px;
}
.diagram{
    width: 50%;
    margin-top: -251px;
    margin-left: 642px;
}
.rapid p{
    color: green;
    font-size: 15px;
    font-family:sans-serif;
    }


#myChart{
    margin-left: 72%;
    margin-top: -125px;
}
.mod p{
    padding-left: 146%;
    margin-top: -135px;
    font-family: sans-serif;
}
#data h1{
    color: red;
    padding-left: 150%;
    margin-top: -64px;
    display: flex;
}
#data p{
    padding-left: 162%;
    margin-top: -21px;
    display: flex;
}
.line img{
    width:85px;
   padding-left: 146%;
   height: 4px;
}
.line{
    margin-top: 25px;
}
.mod button{
    margin-left: 146%;
    width:95px;
    border-radius: 15px;
    border: none;
    height: 25px;
    text-decoration: none;
        color: black;
        cursor: pointer;
}
.rata-lunara ul p span{
    color:white;
}
.calendar{
    display: none;
}
.rang img{
    background-color: #0075bd ;
    height: 24px;
    width: 24px;
    border-radius: 5px;
    border: 5px solid;
    border-color: #0075bd;
    margin-left: 134%;
    margin-top: 71px;
}
.rang p{
    margin-left: 134%;
}
.rang p span{
    color:white;
}
#message img{
    height: 18px;
    width:18px;
    margin-top: 12px;
    margin-left: 134%;
}
#calendar img{
    height: 18px;
    width:18px;
    margin-top: -42px; 
    margin-bottom: 18px; 
    margin-left: 154%;
}
#myProgress {
    width: 131%;
    background-color: #ddd;
    height: 5px;
    margin-top: -100px;
    border-radius: 3px;
  }
  #myBar {
    width: 84%;
    height: 30px;
    background-color: #0075bd;
    text-align: center;
    line-height: 30px;
    color: white;
    height: 5px;
    border-radius: 3px;
  }
  
  #myProgress2 {
    width: 131%;
    background-color: #ddd;
    height: 5px;
    margin-top: 35px;
    border-radius: 3px;
  }
  
  #myBar2 {
    width:12%;
    height: 30px;
    background-color: #0075bd;
    text-align: center;
    line-height: 30px;
    color: white;
    height: 5px;
    border-radius: 3px;
  }
  #myProgress3 {
    width: 131%;
    background-color: #ddd;
    height: 5px;
    margin-top: 31px;
    border-radius: 3px;
  }
  
  #myBar3 {
    width:4%;
    height: 30px;
    background-color: #0075bd;
    text-align: center;
    line-height: 30px;
    color: white;
    height: 5px;
    border-radius: 3px;
  }  
  .dob{
    margin-top: -125px;
          }
          #dob, #dob2, #dob3{
              color: #0075bd;
              font-family: sans-serif;
            margin-top:23px;
          }
          .dob h5{
            color: #0075bd;
            font-family: sans-serif;
          margin-top: -17px;
          margin-left: 34px;
          }
          .achitat h4{
            margin-top: -22px;
            margin-left: 95px;
            color: #0075bd;
          }
          #achitat{
              margin-top: -165px;
              color: #0075bd;
              font-size: 45px;
          }
          footer{
              margin-top: 35px;
              margin-bottom: 65px;
          }
          footer ul{
            padding-left: 45px;
            display: flex;
            }
            footer ul li{display: inline-block; 
    padding-right: 28px;
    font-family: sans-serif;
    cursor: pointer;
}
footer ul li a:hover{
    text-decoration: underline;
}
footer ul li a{
    color: #0075bd;
    text-decoration: none;
}
    .fb img{
        background-color: #0075bd;
        border-radius: 50%;
        padding:8px 12px;
        margin-left: 80%;
        margin-top: -21px;
    }      
    .yt img{
        background-color: #0075bd;
        padding:8px 8px;
        margin-left: 84%;
       
    }
    .yt{
        margin-top: -38px; 
    }
    .dollar img{
        margin-left: 91%;
        cursor: pointer;
        position: relative;
    }
    .valoarea{
        position: absolute;
        color: #0075bd;
        margin-left: 90%;
        margin-top: -32px;
            display: none;
            cursor: pointer;
    }
    .valoarea2{
        position: absolute;
         color: #0075bd;
        margin-left: 92%;
        margin-top: -32px;
        display: none;
        cursor: pointer;
    }
    .dollar {
              margin-top: -40px;
    }
    .euro img {
        margin-left: 93%;
        margin-top: 66px;
        cursor: pointer;
        position: relative;
    }  
    .euro {
        margin-top: -105px;
}
#click{
    display: none;
}
.click2{
    display: none;
}
.logo {
    margin: 1.6rem auto;
    text-align: center;
}
.calendar{
    width: 96%;
    margin: 1.6rem auto;
    max-width: 42rem;
    text-align: center;
 margin-top: -1257px;
}

.demo-picked {
    font-size: 1.2rem;
    text-align: center;
    display: none;
}

.demo-picked span {
    font-weight: bold;
}
:root {
--vcal-bg-color: #fff;
--vcal-border-radius: 0;
--vcal-border-color: #e7e9ed;
--vcal-today-bg-color: #10989E;
--vcal-today-color: #fff;
--vcal-selected-bg-color: #E7E9ED;
--vcal-selected-color: #333;
}

#v-cal *, #v-cal *:before, #v-cal *:after {
box-sizing: border-box;
}

#v-cal {
background-color: var(--vcal-bg-color);
border-radius: var(--vcal-border-radius);
border: solid 1px var(--vcal-border-color);
box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.05);
margin: 0 auto;
overflow: hidden;
width: 100%;
}

#v-cal .vcal-btn {
-moz-user-select: none;
-ms-user-select: none;
-webkit-appearance: button;
background: none;
border: 0;
color: inherit;
cursor: pointer;
font: inherit;
line-height: normal;
min-width: 27px;
outline: none;
overflow: visible;
padding: 0;
text-align: center;
&:active {
border-radius: var(--vcal-border-radius);
box-shadow: 0 0 0 2px rgba(var(--vcal-today-bg-color), 0.1)
}
}

#v-cal .vcal-header {
align-items: center;
display: flex;
padding: 1.2rem 1.4rem;
}

#v-cal .vcal-header svg {
fill: var(--vcal-today-bg-color);
}

#v-cal .vcal-header__label {
font-weight: bold;
text-align: center;
width: 100%;
}

#v-cal .vcal-week {
background-color: var(--vcal-selected-bg-color);
display: flex;
flex-wrap: wrap;
}

#v-cal .vcal-week span {
flex-direction: column;
flex: 0 0 14.28%;
font-size: 1.2rem;
font-weight: bold;
max-width: 14.28%;
padding: 1.2rem 1.4rem;
text-align: center;
text-transform: uppercase;
}

#v-cal .vcal-body {
background-color: rgba(var(--vcal-selected-bg-color), 0.3);
display: flex;
flex-wrap: wrap;
}

#v-cal .vcal-date {
align-items: center;
background-color: #fff;
border-radius: var(--vcal-border-radius);
display: flex;
flex-direction: column;
flex: 0 0 14.28%;
max-width: 14.28%;
padding: 1.2rem 0;
}

#v-cal .vcal-date--active {
cursor: pointer;
}

#v-cal .vcal-date--today {
background-color: black;
color: var(--vcal-today-color);
}

#v-cal .vcal-date--selected {
background-color: #0075bd;
color: var(--vcal-selected-color);
content: "Email address: ";
}

#v-cal .vcal-date--disabled {
border-radius: 0;
cursor: pointer;
opacity: 1;
}
.schimba{
    height:35px;
    width:100.1%;
    margin-top: -1px;
    background-color: white;
    margin-left: 1px;
}
.schimba button{
    width: 95px;
    border-radius: 15px;
    border: none;
    height: 25px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.trimite{
    display: none;
}
@media (max-width: 1245px){
    .later p span{
        display: none;
    }
    .links ul{
    padding-left: 19%;
    }
    .phone-nav img{
        padding-left: 54%;
    }
    .phone-nav a{
        padding-left: 57%;
    }
    .language-nav img{
        margin-left: 75%;
    }
    .user-nav{
    margin-left: 83%;
    }
    #demo{
        color: white;
        margin-left: 80%;
    }
    .message-icon img{
    margin-left: 90%;
    }
    .map-icon img{
    margin-left: 95%;
    }
    .diagram{
        margin-left: 102%;
    }
}
@media (max-width: 1045px) {
    .Credit-rapid img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -50px;
    }
#toggle{
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 25px;
}
.bar1{
    width:35px;
    height:2px;
    background-color: #333;
    transition:0.4s;
    margin: 8px 0px;
}
.bar2{
    width:35px;
    height:2px;
    background-color: #333;
    transition:0.4s;
    margin: 8px 0px;
}
.bar3{
    width:35px;
    height:2px;
    background-color: #333;
    transition:0.4s;
    margin: 8px 0px;
}
.change .bar1{
    height: 2px;
 width:60%;
 -webkit-transform: rotate(-35deg) translate(6px,6px);
    transform:rotate(-35deg) translate(6px,6px);
}
.change .bar2{
  margin-left: 9px;
  height: 2px;
}
.change .bar3{
    width:60%;
    -webkit-transform: rotate(35deg) translate(6px,-6px);
    transform:rotate(35deg) translate(6px,-6px);
    height: 2px;
}
#hamburger-active {
    position: absolute;
    top: 47px;
    left: -1px;
    z-index: 11;
    background-color: white;
    width: 101%;
    display: none;
    height: 100%;
}
    .navbar-items {
      text-align: center;
      border-top: 1px solid #d9d9d9;
    }
      #nav-links {
        padding: 30px 0;
        border-bottom: 1px solid #d9d9d9;
      }
        .auto-nav, .business-nav, .necessity-nav {
          line-height: 24px;
          padding: 15px 0;
          font-size: 18px;
          color: #0075bd;
          cursor: pointer;
        }

    .footer-items {
      text-align: center;
      border-top: 1px solid #d9d9d9;
    }
      .footer-links {
        padding: 30px 0;
        border-bottom: 1px solid #d9d9d9;
      }
        .about-us, .terms-and-conditions, .contacts {
          line-height: 24px;
          padding: 15px 0;
          font-size: 18px;
          color: #0075bd;
          cursor: pointer;
          border: none;
        }

    .exch-nav {
      border-top: 1px solid #d9d9d9;
      padding: 25px 10px;
      cursor: pointer;
    }
      .inactive-block {
        display: flex;
        justify-content: center;
      }
          .hamburger-dollar {
            margin-left: -15px;

          }
        .exch-text {
          margin-left: 3px;
          margin-right: 0;
          font-size: 18px;
          line-height: 32px;
          color: #0075bd;
        }

        .arrow {
          transform: rotate(270deg);
          color: #0075bd;
          font-size: 32px;
          font-family: monospace;
          margin-left: 5px;
          margin-top: -7px;
        }
        .contacts {
            border-top: 1px solid grey;
            background-color: white;
            padding-bottom: 20px;
        }
            .social-icons {
              display: flex;
              justify-content: center;
              padding: 30px 0;
            }
              .fb-social {
                width: 34px;
                height: 34px;
                border-radius: 50%;
                background-color: #0075bd;
                padding: 3px 4px;
                margin-right: 20px;
                cursor: pointer;
              }
      
              .yt-social {
                width: 34px;
                height: 34px;
                border-radius: 50%;
                background-color: #0075bd;
                padding: 3px 4px;
                cursor: pointer;
      
              }
      
            .phone-number {
              display: inline-flex;
              justify-content: center;
              font-size: 26px;
              cursor: pointer;
              width: 100%;
            }
            .phone-number img {
                vertical-align: baseline;
                height: 17px;
              }
      
              .phone-number a {
                text-decoration: none;
                color: black;
                font-weight: 400;
              }
      
            .language-icon {
              display: flex;
              justify-content: center;
              cursor: pointer;
            }
            .out{
                display:block;
                float:right;
                margin-right: 15px;
                margin-top: -38px;
                cursor: pointer;
            }

    .links ul{
display: none;
        }
        .phone-nav img{
            display: none;
        }
        .phone-nav a{
            display: none;
        }
        .language-nav img{
            display: none;
        }
        .user-nav{
            display: none;
        }
        #demo{
            display: none;
        }
        .feed-close img{
            margin-right: 1%;
            margin-top: -4%;
        }
        .rotate p{
            display: none;
        }
        .achiatare{
            width:42%;
            margin-top: -35px;
        }
        .rata-lunara{
            margin-top: -240px;
            margin-right: 45px;
            width:45%;
            height:125px;
            font-size: 13px;
            float:right;
        }
        .rata-lunara ul li{
            padding-top: 15px;
        }
        .rata-lunara ul li h5{
           margin-left: 0%;

        }
        .rata-lunara ul li h6{
            margin-left: 0%;     
        }
        #econom{
            margin-left: 100px;
            }
            #econom2{
                margin-left: 100px;
                }
        #schimb{
            margin-left: 111px;
            margin-top: -97px;
            padding-bottom: 14px;
        }
        #schimb2{
            margin-top: 15px;
        }
        .schimb{
            float: right;
            margin-top: 0px; 
        }
        .schimb p{
            margin-left: 35px;
            margin-top: -17px;
        }
        .schimb h5{
            margin-left: 91px;
        }
        .icon-rotation2 img{
         margin-left: -5px;
        }
        .icon-rotation img{
            margin-left: 72px;
        }
        .icon-rotation2{
            margin-top: -25px;
        }
        .achiatare ul li{
            padding-top: 30px;
            }
            .rata-lunara ul li h3{
                margin-left: 101px;
            }
            .rata-lunara ul li h2{
                margin-left: 101px;
            }
            .suma{
                margin-top: -178px;
                }
                .achiatare{
                    width:42%;
                    margin-top: -35px;
                }
                .later{
                    display:block;
                }
                .later img{
                    width:24px;
                    height:24px;
                    margin-top: 15px;
                    margin-left: 45px;
                }
                .later p{
                    color:red;
                    font-family: sans-serif;
                    margin-left: 75px;
                    margin-top: -20px;
                }
                .later h1{
                    float:right;
                    width:67%;
                    margin-top: -28px;
                    color: #0075bd;
                }
                .later h5{
                    float:right;
                    width:58%;
                    margin-top: -22px;
                    color: #0075bd;
                }
        .diagram{
            display:none;
        }
        .modifica{
            display: block;
            margin-top: 15px;
margin-left: 45px;
        }
        .modifica p{
            font-size: 14px;
        }
        .modifica h2{
            color:red;
        }
        .modifica h2 span{
            font-size: 15px;
        }
        .modifica button{
            background-color: red;
            border: none;
            border-radius: 15px;
            width:  75px;
            color: white;
cursor: pointer;
        }
        .grafic-de-plati{
            display: block;
        }
        .grafic-de-plati p{
            margin-top: 60px;
            margin-left: 51%;
        }
        .paynment img{
            background-color: #0075bd;
            width:24px;
            height:24px;
            border: 3px solid;
            border-color: #0075bd;
            border-radius: 5px;
            margin-left: 64%;
            cursor: pointer;
        }
        .bara img{
            margin-left: 74.5%;
            height:45px;
        }
        .bara {
           margin-top: -47px; 
        }
        .dates p{
            margin-top: -52px;
            margin-left: 77%;
        }
        .dates p span{
            color:white;
        }
        .infor img{
            width:18px;
            height:18px;
            margin-left: 77%;
        }
        .calendar img{
            width:18px;
            height:18px;
            margin-left: 96%;
        }
        .calendar {
            margin-top: -22px;
        }
           footer{
                      display:none;
                  }
                }

                @media (max-width: 755px){
                    #map{
               margin-top: 75px;
               width: 99%;
                    }
                    .intoduce{
                        display:none;
                    }
                    #paragraph{
                        padding-left: 10px;
                        margin-top: -50px;
                    }
                    .message-icon img{
                        width: 21px;
                        height:21px;
                        margin-left:77%;
                        }
                        .message-icon {
                            margin-top: -22px;
                        }
                        .map-icon img{
                            width: 21px;
                        height:21px;
                        margin-left: 86%;
                        }
                        .delay-notification img{
                            width:17px;
                            height:17px;
                            margin-top: 12px;
                        }
                        .rotate1{
                   margin-top: 32px;
                        }
                        .rotate2{
                            margin-top: 32px;
                                 }
                                 .rotate3{
                                    margin-top: 32px;
                                         }
                                         .rotate4{
                                            margin-top: 32px;
                                                 }
                        .map-icon{
                            margin-top: -25px;
                        }
                        .mesages-second{
                            margin-left: 20px;
                            width:92%;
                        }
                        .mesages-second2{
                            margin-left: 20px;
                            width:92%;
                        }
                        .mesages-second3{
                            margin-left: 20px;
                            width:92%;
                        }
                        .mesages-second4{
                            margin-left: 20px;
                            width:92%;
                        }
                        .mesages-second5{
                            margin-left: 20px;
                            width:92%;
                        }
                        .mesages-second6{
                            margin-left: 20px;
                            width:92%;
                        }
                        .feed-close img{
                            float:none;
                            width:11px;
                            height:11px;
                            margin-top: -39px;
                        }
                        .feed-close{
                            width:1px;
                            padding-left: 95%;
                            margin-top: -37px;
                        }
                    .messages p{
                        font-size: 14px;
                    }
                    .messages2 p{
                        font-size: 14px;
                    }
                    .messages3 p{
                        font-size: 14px;
                    }
                    .messages4 p{
                        font-size: 14px;
                    }
                    .message p{
                        font-size: 14px;
                    }
                    .feed-shape p{
                        font-size: 14px;
                    }
                    .achiatare{
                        width:100%;
                        font-size: 14px;
                        margin-left: 10px;
                    }
                    .achiatare ul{
                      padding-top: 41px;
                    }
                    .rata-lunara{
                        margin-top: -231px;
                        width:94%;
                        margin-left: 10px;
                        height:125px;
                        font-size: 13px;
                        float:none;
                    }
                    #rata-lunara{
                        margin-top: -15px;
                        margin-left: -23px;
                    }
                    .rata-lunara ul li h3{
                        margin-left: 41px;
                        background-color: #0075bd;
                    border-radius: 5px;
                    width:123px;
                }
                    .rata-lunara ul li h2{
                        margin-left: 41px;
                        background-color: #0075bd;
                        border-radius: 5px;
                        margin-top: -17px;
                        width:123px;
                    }
                    .rata-lunara ul li h6{
                        width:51px;
                        padding-left: 55px;
                        
                    }
                    .rata-lunara ul li h5{
                        width:81px;
                        padding-left: 55px;
                    }
                    .suma{
                        margin-right: 5%;
                        }
                        .suma ul li h5{
                            margin-left: 31px;
                            margin-top: -7px;
                            }
                            #schimb{
                                margin-left: 91px;
                                margin-top: -97px;
                            }
                            #econom{
                                margin-top: 22px;
                            }
                            #schimb2{
                                margin-top: -32px;
                                padding-top: 45px;
                                margin-left: 22px;
                            }
                            .schimb p{
                                margin-left: 57px;
                            }
                            .schimb h5{
                                margin-left: 113px;
                            }
                            .icon-rotation2 img{
                             margin-left: 17px;
                            }
                            .icon-rotation img{
                                margin-left: 94px;
                            }
                            .icon-rotation2{
                                margin-top: -25px;
                            }
                    .achiatare ul li{
                        padding-top: 30px;
                        }
                        #achitaTime{
                            margin-left: 135px;
                            margin-top: -24px;
                            padding-left: 28px;
                            width:35px;
                        }
                        .achiatare p{
                            margin-left: 145px;
                        }
                        .achiatare h5{
                            margin-left: 175px;
                        }
                        .suma{
                            margin-top: -184px;
                            }
                            .later{
                                margin-left: -35px;
                            }
                    .later p{
           font-size: 14px;
                    }
                    #later{
                        display: block;
                        float:right;
                        margin-right: 2%;
                        font-size: 16px;
                        color: #0075bd;
                    }
                    #later2{
                  display: none;
                    }
                    .later h5{
                       display:none;
                    }
            .modifica{
                display: block;
                margin-top: 175px;
    margin-left: 10px;
            }
            .grafic-de-plati{
                display: block;
            }
            .grafic-de-plati p{
                margin-top: 22px;
                margin-left: 34%;
            }
            .paynment img{
                margin-left: 54%;
            }
            .bara img{
                margin-left: 66.5%;
            }
            .dates p{
                margin-left: 68%;
                margin-top: -52px;
            }
            .infor img{
                margin-left: 68%;
            }
            .calendar img{
                margin-left: 85%;
            }
                
                }
